In [1]:
from sklearn.datasets import load_iris
import pandas as pd

df = pd.read_csv("https://raw.githubusercontent.com/mwaskom/seaborn-data/master/iris.csv")

In [2]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [3]:
from sklearn.model_selection import train_test_split 

X = df.drop(['species'], axis=1)
y = df['species']


X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.25)

## Finalizing Model By choosing K=12

In [4]:

#Importing KNN Classifier
from sklearn.neighbors import KNeighborsClassifier

# instantiate the model with the best known parameters
knn = KNeighborsClassifier(n_neighbors=12)

# train the model with X and y (not X_train and y_train)
knn_clf=knn.fit(X_train,y_train)

In [5]:
pred = knn_clf.predict(X_test)

In [6]:
from  sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score
from  sklearn.metrics import roc_curve, auc

def eval_classification(model, pred, xtrain, ytrain, xtest, ytest):
    print("Accuracy (Test Set): %.4f" % accuracy_score(ytest, pred))

In [7]:
eval_classification(knn_clf, pred, X_train, y_train, X_test, y_test)

Accuracy (Test Set): 0.9737

## Saving final model

In [8]:
import joblib

# Save the model as a pickle in a file
joblib.dump(knn_clf, "Knn_Classifier.pkl")

['Knn_Classifier.pkl']